<div class="modal-header">
  <h2 class="modal-title">{{tittle}}</h2>
  <a class="close " data-dismiss="modal" (click)="closeModal()" data-placement="right" title="Close">
    <span aria-hidden="false"><i class=" fas fa-window-close"></i></span>
  </a>
</div>

<form #studentForm="ngForm" (ngSubmit)="saveStudent(studentForm.value)">
  <div class="modal-body">

    <div class="row form-group ">
      <label class="col-md-4" for="student_name">
        Name:
      </label>
      <div class="col-md-8">
        <input id="student_name" name="student_name" class="form-control" type="text" [(ngModel)]="student.student_name">
      </div>
    </div>
    <div class="row form-group ">
      <label class="col-md-4 control-label ">
        Surname
      </label>
      <div class="col-md-8">
        <input id="student_surname" name="student_surname" class="form-control" type="text" [(ngModel)]="student.student_surname">
      </div>
    </div>
    <div class="row form-group ">
      <label class="col-md-4 control-label ">
        Grade
      </label>
      <div class="col-md-8">
        <jqxComboBox #gradeCombobox name="grade_id" 
            [width]="'100%'" [height]="35" [source]="grades" [placeHolder]="'Please Choose...'" [theme]="'energyblue'" [(ngModel)]="student.grade_id" >
        </jqxComboBox>`
      </div>
    </div>
    <div class="row form-group horizontal-checkbox">
      <label class="col-md-4 control-label ">
        Active
      </label>
      <div class="col-md-2">
        <input id="active" name="active" class="form-control" type="checkbox" [(ngModel)]="student.active"
          default="false">
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-8">
        <input id="prev_grade_id" name="prev_grade_id" class="form-control" type="text" [(ngModel)]="student.prev_grade_id" hidden>
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success">SAVE</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">CANCEL</button>
  </div>
</form>
