<div class="card">
    <div class="card-header">
        <div class="module-name">
            <h2>{{title}}</h2>
        </div>
        <ul>
            <li>
                <button type="menu" class="btn btn-success" (click)="openModal()">Create</button>               
            </li>
          </ul> 
    </div>

    <div class="card-body">
    <ag-grid-angular
    style="width: 100%; height: 500px;"
    class="ag-theme-material "
    [enableRangeSelection]="true"
    [enableCharts]= "true"
    [rowData]="rowData"
    [columnDefs]="columnDefs"
    rowSelection="multiple"
    >
</ag-grid-angular>
    </div>
    
</div>