<div class="modal-header">
  <h2 class="modal-title">{{tittle}}</h2>
  <a class="close " data-dismiss="modal" (click)="closeModal()" data-placement="right" title="Close">
    <span aria-hidden="false"><i class=" fas fa-window-close"></i></span>
  </a>
</div>

<form #gradeForm="ngForm" (ngSubmit)="saveGrade(gradeForm.value)">
  <div class="modal-body">

    <div class="row form-group ">
      <label class="col-md-4" for="name">
        Name:
      </label>
      <div class="col-md-8">
        <input id="name" name="name" class="form-control" type="text" [(ngModel)]="grade.name">
      </div>
    </div>
    <div class="row form-group ">
      <label class="col-md-4 control-label ">
        Grade year
      </label>
      <div class="col-md-8">
        <input id="grade_year" name="grade_year" class="form-control" type="text" [(ngModel)]="grade.grade_year">
      </div>
    </div>
    <div class="row form-group" *ngIf="operation==false">
      <label class="col-md-4 control-label ">
        Number of Students
      </label>
      <div class="col-md-2">
        <input id="number_of_students" name="number_of_students" class="form-control" type="text"
          [(ngModel)]="grade.number_of_students" disabled>
      </div>
    </div>
    <div class="row form-group " *ngIf="operation==false">
      <label class="col-md-4 control-label ">
        Average
      </label>
      <div class="col-md-2">
        <input id="average" name="average" class="form-control" type="text" [(ngModel)]="grade.average" disabled>
      </div>
    </div>
    <div class="row form-group horizontal-checkbox">
      <label class="col-md-4 control-label ">
        Active
      </label>
      <div class="col-md-2">
        <input id="active" name="active" class="form-control" type="checkbox" [(ngModel)]="grade.active"
          default="false">
      </div>
    </div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success">SAVE</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="closeModal()">CANCEL</button>

  </div>
</form>
